<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acceuil</title>
    
    <!---we had linked our css file----->

  
</head>
<body>
	<script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
  <div id="acceuil">
    <div id="aissatasouhait">
     <label id="messagebienvenu"> Medmoiselle Aisssata Deh vous souhaite la Bienvenue </label> 
      <img id="imgbienvenu" src="public/image/acceuil/plumea.png"> </img>
    
     </div>
      
    
        <div id="messagedacceuil">
          <img id="parchemea" src="public/image/acceuil/parchemea.png"> </img>
    
          
        </div>
      
    
      <img id="porte" src="public/image/acceuil/porte.png"> </img>
    
    <img id="lampe" src="public/image/acceuil/lampe.png"> </img>
    <p id="messagea"> message d acceuil proverbe ou poeme sencé mettre en valeur la littarature et autre</p>
     
   
  </div>
 

  <div id="acceuilb" style="display: none;">
    
   <!--     <img id="acceuilbas" src="public/image/acceuil/acceuila.jpg"> </img>   -->  
    
       
 
  </div>
 
   <canvas id="canvas" > 
  
  </canvas>
  <canvas id="canvasb" > 
  
  </canvas>
 
  
  <script src="/public/script/scriptcanvas.js"  type="text/javascript">    </script>
  <script src="/public/script/scriptacceuil.js"  type="text/javascript">    </script>
 
</body>
<style>
    
</style>
<script>
 


</script>
</html>
