<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acceuil</title>
    
    <!---we had linked our css file----->

  
</head>
<body>
	<script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
  <div id="acceuil">
    <div id="aissatasouhait">
     <label id="messagebienvenu"> Medmoiselle Aisssata Deh vous souhaite la Bienvenue </label> 
      <img id="imgbienvenu" src="public/image/acceuil/plumea.png"> </img>
    
     </div>
      
    
        <div id="messagedacceuil">
          <img id="parchemea" src="public/image/acceuil/parchemea.png"> </img>
    
          
        </div>
      
    
      <img id="porte" src="public/image/acceuil/porte.png"> </img>
    
    <img id="lampe" src="public/image/acceuil/lampe.png"> </img>
    <p id="messagea"> message d acceuil proverbe ou poeme sencé mettre en valeur la littarature et autre</p>
     
   
  </div>
 

  <div id="acceuilb" style="display: none;">
    
   <!--     <img id="acceuilbas" src="public/image/acceuil/acceuila.jpg"> </img>   -->  
   <img id="menupng" src="public/image/acceuil/menu.png"> </img>
   <div id="menu">

    <div class="classdivm">
       <img class="classicone" src ="public/image/acceuil/edit.png"></img>

       <div class="classlab"> Oeuvre </div>
       <img class="classflech" src ="public/image/acceuil/flech.png" style="display: block;"></img>
    </div>
    <div class="classdivm">
       <img class="classicone" src ="public/image/acceuil/edit.png"></img>

       <div class="classlab"> Projet</div>
       <img class="classflech" src ="public/image/acceuil/flech.png" style="display: none;"></img>
 
    </div>
    <div class="classdivm">
       <img class="classicone" src ="public/image/acceuil/edit.png"></img>

       <div class="classlab">Publication</div>
       <img class="classflech" src ="public/image/acceuil/flech.png" style="display: none;"></img>
 
    </div>

    <div class="classdivm">
       <img class="classicone" src ="public/image/acceuil/edit.png"></img>

       <div class="classlab"> La plume </div>
       <img class="classflech" src ="public/image/acceuil/flech.png" style="display: none;"></img>
 
    </div>

    <div class="classdivm">
      <img class="classicone" src ="public/image/acceuil/edit.png"></img>

      <div class="classlab"> Biographie </div>
      <img class="classflech" src ="public/image/acceuil/flech.png" style="display: none;"></img>

   </div>
    
    
    
</div>

       
 <div id="contenu">
  
  <!-- <img id="fondimage" src ="public/image/acceuil/parchemed.png"></img> -->
     
  <div class="contenu">

    <div id="diveuvre">
      <img id="oeuvreapercu" src ="public/image/acceuil/oeuvre.jpg" ></img>
     <label id="preface"> Preface</label>
      <p class="paragraphe"> texte concernt le livre texte concernt le livre texte concernt le livre texte concernt le livre texte concernt le livre texte concernt le livre texte concernt le livre texte concernt le livre  </p>
     
    </div>
    <p class="paragraphe"> titre et explication du livre titre et explication du livre titre et explication du livretitre et explication du livretitre et explication du livretitre et explication du livretitre et explication du livre</p>
 
   
    <div id="contoloeuvre">

      <img class="contoloeuvre" src ="public/image/acceuil/moins.png"></img>
      <img class="contoloeuvre" src ="public/image/acceuil/flech.png"></img>
     
    </div>
   
  </div>

  <div class="contenu" style="display: none;">

    <div class="projet"></div>
    <div  class="projet"></div>
     <div  class="projet"></div>

    <div id="contoloeuvreb">

      <img class="contoloeuvreb" src ="public/image/acceuil/moins.png"></img>
      <img class="contoloeuvreb" src ="public/image/acceuil/flech.png"></img>
     
    </div>
   

  </div>

  <div class="contenu" style="display: none;">
    <p> Publication </p>
  </div>

  <div class="contenu" style="display: none;">
    <p> La plume </p>
  </div>
  <div class="contenu" style="display: none;">
    <p> Biographie </p>
  </div>
 </div>
  </div>
 
   <canvas id="canvas" > 
  
  </canvas>
  <canvas id="canvasb" > 
  
  </canvas>
 
  <script src="/public/script/cssaceuilb.js"  type="text/javascript">    </script>
 
  <script src="/public/script/scriptcanvas.js"  type="text/javascript">    </script>
  <script src="/public/script/scriptacceuil.js"  type="text/javascript">    </script>
 
</body>
<style>
    
</style>
<script>
 
</script>
</html>
